# Default ignored files
/shelf/
.iml
.idea
.target
# Datasource local storage ignored files
/../../../../../../:\Users\Asus\IdeaProjects\CodeAnalyzer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
